{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h2>Ajouter un restaurant</h2>
        {{ include ('admin/restaurant/_form.html.twig', {button: 'Ajouter'}) }}
    </div>

{% endblock %}